@font-face {
    font-family: Helvetica-Regular;
    src: url(./Assets/Font/HelveticaNeue/HelveticaNeue-02.ttf);
}

@font-face {
    font-family: HelveticaNeue-Bold;
    src: url(./Assets/Font/HelveticaNeue/HelveticaNeue-Bold-01.ttf);
}

:root {
    /* COLOURS */
    --white: #fff;
    --black: #000;
    --red: #FF0000;
    --light-gray: #F6F6F6;
    --gray: #262626;

    /* FONTS */
    --regular: 'Helvetica-Regular';
    --bold: 'HelveticaNeue-Bold';

    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--regular), 'Helvetica Neue', Helvetica, 'Roboto', Arial, sans-serif;
    color: var(--black);
}

body {
    width: 100vw;
    background-color: #f9f9f9;
}

section {
    padding: 96px 248px;
    width: 100%;
}

section:nth-child(even) {
    background-color: var(--light-gray);
}

section:nth-child(odd) {
    background-color: var(--white);
}

.section-title {
    color: var(--gray);
    font-size: 3.2rem;
    font-family: var(--bold);
    line-height: 4.0rem;
}

.red-text {
    color: var(--red);
}

.latest-section .carousel .flickity-prev-next-button {
    width: 32px;
    height: 32px;
    background: transparent;
}

.latest-section .carousel .flickity-prev-next-button :hover {
    background: transparent;
}

.latest-section .carousel .flickity-prev-next-button .arrow {
    fill: black;
}

.latest-section .carousel .flickity-prev-next-button .no-svg {
    color: black;
}

.latest-section .carousel .flickity-prev-next-button:disabled {
    display: none;
}

.latest-section .carousel .flickity-prev-next-button.previous {
    display: none;
}

.latest-section .carousel .flickity-prev-next-button.next {
    position: absolute;
    right: -62px;
}

header .carousel .flickity-prev-next-button {
    width: 32px;
    height: 32px;
    background: transparent;
}

header .carousel .flickity-prev-next-button :hover {
    background: transparent;
}

header .carousel .flickity-prev-next-button .arrow {
    fill: #FEFEFE;
}

header .carousel .flickity-prev-next-button .no-svg {
    color: #FEFEFE;
}

